<%
let categoryList = []
site.categories.each(function (category, i) {
    categoryList.push(category)
})
%>

<% categoryList.forEach(item => { %>
    <div>
        <a href="<%- url_for(item.path) %>"><%= item.name %><%= item.length %></a>
    </div>
<% }) %>
