<%
let tagList = []
site.tags.each(function (tag) {
    tagList.push(tag)
})
%>

<% tagList.forEach(item => { %>
    <div>
        <a href="<%- url_for(item.path) %>"><%= item.name %><%= item.length %></a>
    </div>
<% }) %>
