.hljs
  border 1px solid #000
  border-radius 10px

.hljs-ln
  width: 100%

  tr:nth-of-type(even)
    .hljs-ln-code
      background rgba(0, 0, 0, 0.15)

/* for block of numbers */
.hljs-ln-numbers
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: center
  color: #ccc
  border-right: 1px solid #606060
  vertical-align: top
  padding 2px 10px !important
  width: 30px

/* for block of code */
.hljs-ln-code
  padding-left: 10px !important;

