@font-face
  font-family 'Cascadia'
  src url('/font/Cascadia-Code-Regular-2.ttf')

*:hover
  text-decoration none !important

*::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}

*::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  background-color: skyblue;
  background-image: linear-gradient(to bottom, #0539d4, #6095d4, #5a42d4)
}

*::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #000000;
  border-radius: 10px;
}

.page-down
  position: absolute;
  transform scale(.9)
  filter: blur(5px);
  z-index 0

.mask
  position fixed
  left 0
  top 0
  width 100%
  height 100%
  z-index 999
  background rgba(0, 0, 0, 0.2)
  display none

  .pop-img
    position fixed
    z-index: 9999;
    width 300px
    height auto
    margin auto
    left 0
    top 0
    bottom 0
    right 0
    display: none;


body
  position absolute
  width 100%
  height 100%
  color #b9b9b9
  //font-family Cascadia, microsoft yahei, sans-serif;
  font-size 1rem
  font-weight 400
  line-height 1.7
  text-align left
  background-color #181818
  cursor: url("/cursor/Arrow.cur"), auto;

  /*cursor*/

  .cursor-pointer *, a, button
    cursor: url("/cursor/Hand2.cur"), pointer !important;

  .cursor-text *, span, p, h1, h2, h3, h4, h5, h6
    cursor: url("/cursor/IBeam.cur"), pointer !important;

.container-app
  position absolute
  width 100%
  height 100%
  overflow hidden
  padding 0


  .menu-icon-wrapper
    position absolute
    right 0
    top 0
    z-index 9999
    transform translateY(-100px)
    transition transform 1s

    @media screen and (max-width: 950px)
      transform translateY(0)

  .container-content
    position relative
    width 100%
    height 100%
    margin auto
    display flex
    align-items flex-start
    transition transform .3s
    background-color #000000

    .sidenav
      position relative
      display block
      width 250px
      min-width 250px
      height 100%
      border-right 1px dashed rgba(254, 87, 131, 0.5)

      .sidenav-header
        padding 1.5rem 0
        margin-bottom 1.5rem

        .sidenav-title
          font-size 2rem

      .sidenav-user
        height 290px
        text-align center
        width 100%

        .avatar
          position relative
          display inline-flex
          align-items center
          color #ffffff
          border-radius 50%
          overflow hidden;

          img
            width 6rem
            height 6rem

        .sidenav-icon
          width 50%

      .nav-container
        position absolute
        bottom 10%
        right 0
        width: 130px;
        transform translateX(70px)
        z-index: 9;

        .nav-item
          padding 10px 0

      @media screen and (max-width: 950px)
        position fixed
        z-index 999
        width 100%
        background #000
        border 0
        padding 80px 0
        overflow-y auto
        transform translateY(-100%)
        transition transform 1s
        .nav-container
          position relative
          bottom auto
          width 100%
          text-align center
          transform translateX(0)

    .main-content
      position relative
      width 100%
      height 100%
      max-width calc(100% - 250px)

      @media screen and (max-width: 950px)
        max-width 100%
        padding-left 0

      .main-content-scroll
        position absolute
        width: 100%;
        height 100%
        overflow: auto;

    .header
      position relative
      width 100%

    .nav-link
      color hsla(0, 0%, 100%, .85)
      font-size .875rem
      font-weight 600
      text-transform none
      letter-spacing 0
      -webkit-transition all .15s linear
      transition all .15s linear

    .footer
      position relative
      width 100%
      padding 15px
      font-size .8rem
      text-align center

    .index-container
      padding 15px
      max-width: 1000px;
      width: 80%;
      margin auto
      @media screen and (max-width: 950px)
        padding-top 80px
        width 100%

      .index-container-title
        position relative
        display inline-block
        font-size 30px
        color #ff003b
        font-weight 600
        margin 20px 0 0 20px

        &:after
          display inline-block
          font-size 12px
          color #4561ff
          width 20px
          height 20px
          content '」'
          position relative
          left 8px

        &:before
          display inline-block
          font-size 12px
          color #4561ff
          position relative
          top -10px
          width 20px
          height 20px
          content '「'

    .card
      box-shadow 0 0.75rem 1.5rem rgba(18, 38, 63, .03);

    .pagination
      display: flex;
      padding-left: 0;
      list-style: none;
      border-radius: 0.25rem;

      .page-number, .extend
        width: 36px;
        height: 36px;
        line-height: 36px;
        border: 0;
        text-align center
        border-radius: 6px;
        background-image: linear-gradient(125deg, #152aac, #001178);
        color: #fff;
        margin-right: 12px;
        font-size 13px

      .extend
        width: 70px;

      .current
        background-image: linear-gradient(125deg, #49b4fe, #0539d4);

/*查看全文按钮*/
.cta
  display: inline-block;
  padding: 5px 15px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: white;
  background-image: linear-gradient(125deg, #3e00d4, #0771d4);
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  -webkit-transform: skewX(-15deg);
  transform: skewX(-15deg);
  margin-top 10px

  .cta-number
    display: inline-block;
    border-radius: 50%;
    width: 16px;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    height: 16px;
    margin-left 5px;
    background: #ff003b;


  &:hover
    color #ffffff
    text-decoration none

  &:focus {
    outline: none;
  }

  &:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #fe3139;
  }

  & span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
  }

  &:hover span:nth-child(2) {
    transition: 0.5s;
    margin-right: 10px;
  }

  span {
    -webkit-transform: skewX(15deg);
    transform: skewX(15deg)
  }

  span:nth-child(2) {
    width: 10px;
    margin-left: 10px;
    position: relative;
    top: 10%;
  }

  /**************SVG****************/

  path.one {
    transition: 0.4s;
    -webkit-transform: translateX(-60%);
    transform: translateX(-60%);
  }

  path.two {
    transition: 0.5s;
    -webkit-transform: translateX(-30%);
    transform: translateX(-30%);
  }

  &:hover path.three {
    -webkit-animation: color_anim 1s infinite 0.2s;
    animation: color_anim 1s infinite 0.2s;
  }

  &:hover path.one {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-animation: color_anim 1s infinite 0.6s;
    animation: color_anim 1s infinite 0.6s;
  }

  &:hover path.two {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-animation: color_anim 1s infinite 0.4s;
    animation: color_anim 1s infinite 0.4s;
  }

  /* SVG animations */

  @-webkit-keyframes color_anim {
    0% {
      fill: white;
    }
    50% {
      fill: #FBC638;
    }
    100% {
      fill: white;
    }
  }

  @keyframes color_anim {
    0% {
      fill: white;
    }
    50% {
      fill: #FBC638;
    }
    100% {
      fill: white;
    }
  }

.cta-active
  color #ffffff
  text-decoration none
  outline: none;
  transition: 0.5s;
  box-shadow: 10px 10px 0 #fe3139;

  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 10px;
  }

  path.three {
    -webkit-animation: color_anim 1s infinite 0.2s;
    animation: color_anim 1s infinite 0.2s;
  }

  path.one {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-animation: color_anim 1s infinite 0.6s;
    animation: color_anim 1s infinite 0.6s;
  }

  path.two {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-animation: color_anim 1s infinite 0.4s;
    animation: color_anim 1s infinite 0.4s;
  }
