
.devb
  border: 1px dashed red

body
  position: absolute
  width: 100%
  height: 100%

.container-app
  max-width: 1420px
  height 100%
  overflow-x: hidden
  display: flex
  align-items: flex-start

  &:before {
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    z-index: -1
    pointer-events: none
    height: 430px
    background-color: #6e00ff
    border-bottom-left-radius: 2.5rem
  }

  .sidenav
    display: block
    margin-left: 40px
    width: 250px
    min-width: 250px

  .header
    position: relative
    width 100%

  .nav-link
    color: hsla(0, 0%, 100%, .85)
    font-size: .875rem
    font-weight: 600
    text-transform: none
    letter-spacing: 0
    -webkit-transition: all .15s linear
    transition: all .15s linear

  .footer
    position: relative
    width 100%

  .main-content
    width: 100%
    max-width: calc(100% - 250px)
    padding-left: 40px

  .index
    padding: 15px

  .card
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, .03);
