.post-item
  margin-bottom 50px

  &:hover

    .post-title
      background-position: 3000px 0;

  .post-title
    font-size 40px
    background-image: linear-gradient(125deg, #49b4fe, #0ed2f7, #0539d4, #49b4fe);
    -webkit-text-fill-color: transparent
    -webkit-background-clip: text
    background-repeat: repeat
    font-weight 600
    transition background-position 10s

  .post-tag
    border 2px solid rgba(153, 153, 153, 0.2)
    text-align center
    border-radius 13px
    display inline-block
    padding 2px 10px
    color rgba(153, 153, 153, 0.4)
    font-weight 600
    margin-top 10px
    font-size 12px

  .post-category
    padding 0 5px
    color #fe5783
    font-size 14px

  .post-date
    font-size 14px
    color rgba(153, 153, 153, 0.6)

  .post-content
    position relative
    margin-top 20px
    max-width 1000px
    transition color 1s

    .post-bg
      position absolute
      right 0
      top 0
      width 80%
      max-width: 700px
      height 100%
      max-height 400px
      background-repeat no-repeat
      background-size cover
      background-position 50% 50%
      z-index: -1

.post-page
  .post-item
    background #ffffff
    padding 20px
    color #666666
    border-left 5px solid #ff0073

  .post-title
    font-size 40px
    text-align center
    background-image: none
    -webkit-text-fill-color: initial
    -webkit-background-clip: initial
    cursor text
    color #595959
    font-weight 500
    padding-bottom 20px

  .post-desc
    font-size 14px
    line-height 30px

  .post-tag, .post-date
    border 0
    padding 0 5px
    color #fe5783
    font-size 14px
    font-weight 400
    margin-top 0
