<footer id="footer" class="footer">
    Power by Hexo | Theme dodo | ©2019 - 2020 By Luozhongdao
    <p>备案号：<a href="http://beian.miit.gov.cn/">蜀ICP备20021234号</a> 川公网安备 <img style="width: 18px" src="/images/ba.png" alt=""> <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51010802000918">51010802000918号</a></p>
</footer>
